#canv{
    background: url('../images/winter.jpg');
    background-size: cover; 
}

.words{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}